# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm и другие IDE
.idea/
.vscode/
*.iml

# Файлы данных (если не хотите хранить их в репозитории)
expenses.json

# Виртуальное окружение Python (если используется)
venv/
